apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: no-vulns
spec:
  validationFailureAction: Enforce
  rules:
    - name: no-vulns
      match:
        any:
        - resources:
            kinds:
              - Pod
      verifyImages:
      - imageReferences:
        - "$SOURCE_REPO:*"
        attestations:
          - predicateType: https://cosign.sigstore.dev/attestation/vuln/v1
            conditions:
              - all:
                - key: "{{ scanner.uri }}"
                  operator: Equals
                  value: "pkg:github/aquasecurity/trivy@*"
                - key: "{{ time_since('','{{metadata.scanFinishedOn}}','') }}"
                  operator: LessThanOrEquals
                  value: "168h"
            attestors:
            - entries:
              - keys:
                  publicKeys: |-
                    $DEST_PUBKEY
                
